@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Vollkorn:wght@600&display=swap');

body { 
    background-color: rgb(148, 58, 58);
    color:rgb(44, 42, 42); 
    margin: auto;
}
header { 
    background-color: #a09b9b;
    padding: 15px;
    border-style: 2px solid;
}
.promo1 {
    max-width: 100%;
    display: inline-block;
    margin-left: auto;
    border-style:double;
    margin-right: auto;
}
.promo2 {
    display: none;
}
#name { 
    color: rgb(41, 32, 32);
    text-shadow: 1px 2px rgb(250, 248, 248);
    font-size: 45px;
    background-color: rgb(180, 175, 175);
    border:rgb(17, 17, 17) 7px solid;
    padding: 5px;
}
.navbar { 
    text-transform: uppercase;
    display: block;
    flex-flow: row;
    text-decoration: none;
    text-align: center;
    background-color: rgb(148, 58, 58);
}
li a:hover {
    color: rgb(148, 58, 58);
    border-bottom:black solid 2px;
}
.active {
    border-bottom: black solid 2px;
    color:inherit;
}
#menu li {
    display: inline-block;
    font-family: inherit; 
    list-style-type: none;
    font-size: 160%;
    letter-spacing: 5px;
    flex-flow: row;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(44, 42, 42);
    color: white;
    text-shadow: 1px 1px red;
    padding: 15px;
}
#content {
    background-color: #fffcfb;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#content3 {
    background-color: #949291;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.locations {
    display: block;
    font-size: 30px;
    width: 60%;
    margin-bottom: 5%;
}
h1, p {
    text-align: center;
    font-family: inherit;
}
h1 { 
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px red;
    background-color: rgb(44, 42, 42);
}
h2 { 
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px red;
    background-color: rgb(44, 42, 42);
}
p { 
    font-size: 30px;
}
.facilities{
    background-color: #fffcfb;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-family: inherit;
}
#facilities-list li {
    background-color: #fffcfb;
    width: 90%;
    min-height: auto;
    font-size: 30px;
    font-family: inherit;
    padding: 0;
}
#gym-machines, #facilities-img {
    width: 80%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: white solid;
}
#facilities-img2 {
    display: none;
}
.time {
    max-width: 45%;
    font-size: 30px;
    text-align: left;
}
.deal {
    max-width: 100%;
    font-size: 30px;
    text-align: center;
    border:rgb(44, 42, 42) solid;
    margin-bottom: 2%;
}
#content1 {
    background-color: #fffcfb;
    text-align: left;
    margin-right: 20px;
}
.map {
    background-color: #fffcfb;
    border:rgb(44, 42, 42) solid;
}
.container {
    display: flex;
    justify-content: center;
    flex-flow: row;
    margin-bottom: 20px;
}
.topmargin {
    margin-top: 0px;
}
#footer{
    clear: both;
    bottom: 0;
    height: 7vh;
    text-align: center;
    background-color: rgb(20, 20, 20);
    padding: 2%;
    color:rgb(250, 243, 243);
}

@media only screen and (max-width: 320px) {
    body {
        margin: 0px;
        width: 100%;
    }
    header {
        margin-left: 4%;
    }
    #name {
        font-size: 30px;
    }
    #menu li {
        font-size: medium;
        margin-right: 12%;
        margin-left: -3%;
        justify-content: center;
        display: block;
    }
    .locations {
        display: flex;
        font-size: 20px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 20px;
    }
    .promo1 {
        display: none;
    }
    .promo2 {
        max-width: 100%;
        display: inline-block;
        margin-left: auto;
        border-style:double;
        margin-right: auto;
    }
    #content {
        width: 100%;
        justify-content: center;
        margin-left: 2%;
        font-size: 20px;
    }
    #gym-machines {
        width: 90%;
        height: auto;
        border: white solid;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .facilities{
        width: 100%;
        margin-left: 2%;
    }
    #facilities-list li {
        width: 100%;
        height: auto;
        font-size: 20px;
    }
    #facilities-img {
        display: none;
    }
    #facilities-img2 {
        width: 90%;
        height: auto;
        display: block;
        margin-left: 5%;
        border: white solid;
    }
    .time {
        max-width: 100%;
        font-size: 20px;
        text-align: left;
        margin-bottom: 5%;
        margin-left: 8%;
    }
    #content1 {
        max-width: 100%;
        margin-left: 1%;
        margin-right: auto;
    }
    .container {
        flex-flow: column;
        margin-bottom: 20px;
        width: 100%;
    }
    .aligning {
        text-align: left;
    }
    .map { 
        margin-left: 1%;
    }
    #footer {
    margin-right: 0px;
    width: 100%;
    font-size:small;
    }
}
@media screen and (min-width: 321px) and (max-width: 600px){
    body {
        margin: 0px;
        width: 100%;
    }
    header {
        margin-left: 2%;
    }
    #name {
        font-size: 35px;
    }
    .navbar {
        width: 100%;
        display: inline-block;
    }
    #menu li {
        font-size: medium;
        margin-right: 10%;
        margin-left: 5%;
        justify-content: center;
        display: block;
    }
    .locations {
        display: flex;
        font-size: 25px;
    }
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 35px;
    }
    p {
        font-size: 25px;
    }
    .promo1 {
        display: none;
    }
    .promo2 {
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #content {
        width: 100%;
        justify-content: center;
        margin-left: 2%;
    }
    #gym-machines {
        width: 90%;
        height: auto;
        border: white solid;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .facilities{
        width: 100%;
        margin-left: 2%;
    }
    #facilities-list li {
        width: 100%;
        height: auto;
        font-size: 20px;
    }
    #facilities-img {
        display: none;
    }
    #facilities-img2 {
        width: 90%;
        height: auto;
        display: block;
        margin-left: 5%;
        border: white solid;
    }
    .time {
        min-width: 100%;
        font-size: 20px;
        text-align: left;
        margin-bottom: 5%;
    }
    .container {
        flex-flow: column;
        margin-bottom: 20px;
        width: 100%;
    }
    #footer {
    margin-right: 0px;
    width: 100%;
    font-size:small;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1250px) {
    body {
        margin: 0px;
        width: 100%;
    }
    header {
        margin-left: 2%;
    }
    #name {
        font-size: 35px;
    }
    .navbar {
        width: 100%;
        display: inline-block;
    }
    #menu li {
        font-size: medium;
        margin-right: 7%;
        margin-left: 5%;
        justify-content: center;
        display: block;
    }
    .locations {
        display: flex;
        font-size: 25px;
    }
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 35px;
    }
    p {
        font-size: 25px;
    }
    .promo1 {
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .promo2 {
        display: none;
    }
    #content {
        width: 100%;
        justify-content: center;
        margin-left: 2%;
    }
    #gym-machines {
        width: 90%;
        height: auto;
        border: white solid;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .facilities{
        width: 100%;
        margin-left: 2%;
    }
    #facilities-list li {
        width: 100%;
        height: auto;
        font-size: 20px;
    }
    #facilities-img {
        display: none;
    }
    #facilities-img2 {
        width: 90%;
        height: auto;
        display: block;
        margin-left: 5%;
        border: white solid;
    }
    .time {
        min-width: 100%;
        font-size: 20px;
        text-align: left;
        margin-bottom: 5%;
    }
    .container {
        flex-flow: column;
        margin-bottom: 20px;
        width: 100%;
    }
    #footer {
    margin-right: 0px;
    width: 100%;
    font-size:small;
    }
}
