@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans&display=swap');

body { 
    background-color: orange;
    color:rgb(44, 42, 42);
}
header { 
    background-color: black;
    padding: 20px;
    border-style:double;
}
.promo {
    width: 90%;
    max-height: auto;
    display: inline-block;
    margin-left: 50px;
    border-style:double;
    margin-right: 50px;
}
.navbar { 
    text-transform: uppercase;
    width: 99.7%;
    display: block;
    text-decoration: none;
    text-align: center;
    border-style:double;
    background-color: rgb(73, 73, 73);
}
li a:hover {
    color: rgb(182, 123, 14);
    border-bottom:black solid 2px;
}
.active {
    border-bottom: black solid 2px;
    color:inherit;
}
#menu li {
    font-family: inherit; 
    list-style-type: none;
    font-size: 160%;
    letter-spacing: 5px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgb(44, 42, 42);
    color: white;
    text-shadow: 1px 1px red;
    padding: 10px;
}
#content1 {
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
h1, p {
    text-align: center;
    font-family: inherit;
}
h1 { 
    font-size: 40px;
}
p { 
    font-size: 30px;
}
.facilities{
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-family: inherit;
}
#facilities-list li {
    background-color: white;
    width: 80%;
    font-size: 30px;
    font-family: inherit;
}
#gym-machines, #facilities-img {
    width: 80%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
