@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Vollkorn:wght@600&display=swap');

body { 
    background-color: rgb(63, 63, 63);
    color:rgb(44, 42, 42);
}
header { 
    background-color: #d16a2f;
    padding: 15px;
    border-style: 2px solid;
}
.promo {
    max-width: 100%;
    display: inline-block;
    margin-left: auto;
    border-style:double;
    margin-right: auto;
}
#name { 
    color: rgb(250, 243, 243);
    text-shadow: 1px 2px rgb(7, 7, 7);
    font-size: 45px;
    background-color: rgb(136, 135, 135);
    border:rgb(17, 17, 17) 7px solid;
    padding: 5px;
}
.navbar { 
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    text-align: center;
    border-style:double;
    background-color: rgb(73, 73, 73);
}
li a:hover {
    color: rgb(182, 123, 14);
    border-bottom:black solid 2px;
}
.active {
    border-bottom: black solid 2px;
    color:inherit;
}
#menu li {
    font-family: inherit; 
    list-style-type: none;
    font-size: 160%;
    letter-spacing: 5px;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(44, 42, 42);
    color: white;
    text-shadow: 1px 1px red;
    padding: 15px;
}
#content1, #content2{
    background-color: #df8958;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
h1, p {
    text-align: center;
    font-family: inherit;
}
h1 { 
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px red;
    background-color: rgb(44, 42, 42);
}
h2 { 
    font-size: 40px;
    color: white;
    text-shadow: 1px 1px red;
    background-color: rgb(44, 42, 42);
}
p { 
    font-size: 30px;
}
.facilities{
    background-color: #df8958;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-family: inherit;
}
#facilities-list li {
    background-color: #df8958;
    width: 90%;
    min-height: auto;
    font-size: 30px;
    font-family: inherit;
    padding: 0;
}
#gym-machines, #facilities-img {
    width: 80%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: white solid;
}
